.border{
    position: absolute;
    left: 9rem;
    top: 6rem;
    width: 50rem;
    height: 30rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.border .screen{

    background-color: #fff;
    width: 92%;
    height: 89%;

}