.MenuThing{
    background-color: black;
    width: 3.5vw;
    height: 8vh;
    position: absolute;
    top: 6vh;
}
.option{
background-color: black;
    width: 3.5vw;
    height: 8vh;
    position: absolute;
    left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option1{
    top: 30vh;
}
.option2{
    top:  45vh;
}
.option3{
    top: 60vh;
}