.TopBar{
    background-color: white;
    width: 60vw;
    height: 8vh;
    position: absolute;
    top: 4vh;
    left: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1rem;
}
.TopBar .choice{
    border-radius: 0.2rem;
    background: black;
    
}